@model CapaEntidades.Trabajo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <h4>Trabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaAsignada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaAsignada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.categoria1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.categoria1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoTrabajo.estadoTrabajo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoTrabajo.estadoTrabajo1)

                <div class="form-group">
            @Html.LabelFor(model => model.idEstado, "idEstado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEstado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
            </div>
        </div>


        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistroUsuario.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroUsuario.correo)

            <div class="form-group">
                @Html.LabelFor(model => model.idUsuario, "idUsuario", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idUsuario", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
                </div>
            </div>
        </dd>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTrabajo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
 }

